In [1]:
import os
import pandas as pd
import json
import numpy as np

In [2]:
data_path = "/data/ephemeral/home/lee/level2-recsys-movierecommendation-recsys-08-lv3/data/train/"

train_rating = pd.read_csv(os.path.join(data_path, "train_ratings.csv"))

title = pd.read_csv(os.path.join(data_path, "titles.tsv"), sep='\t')

year = pd.read_csv(os.path.join(data_path, "years.tsv"), sep='\t')

director = pd.read_csv(os.path.join(data_path, "directors.tsv"), sep='\t')

genre = pd.read_csv(os.path.join(data_path, "genres.tsv"), sep='\t')

writer = pd.read_csv(os.path.join(data_path, "writers.tsv"), sep='\t')

with open(os.path.join(data_path, "Ml_item2attributes.json"), "r") as file:
    data = json.load(file)

Ml_item2attribute = pd.DataFrame.from_dict(data, orient='index')

### train_rating

In [3]:
print(train_rating.info())
print("*****************************************************************")
print(train_rating.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5154471 entries, 0 to 5154470
Data columns (total 3 columns):
 #   Column  Dtype
---  ------  -----
 0   user    int64
 1   item    int64
 2   time    int64
dtypes: int64(3)
memory usage: 118.0 MB
None
*****************************************************************
   user  item        time
0    11  4643  1230782529
1    11   170  1230782534
2    11   531  1230782539
3    11   616  1230782542
4    11  2140  1230782563

In [4]:
num_train_users = train_rating['user'].nunique()
num_train_items = train_rating['item'].nunique()

print(num_train_users)
print(num_train_items)

31360
6807

In [5]:
each_user_item = train_rating.groupby('user')['item'].size()

print(each_user_item.head())

user
11    376
14    180
18     77
25     91
31    154
Name: item, dtype: int64

In [6]:
# Data sparsity ratio
print(1 - len(train_rating) / (num_train_users * num_train_items))

0.9758536052697853

### year

In [7]:
print(year.info())
print("*****************************************************************")
print(year.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6799 entries, 0 to 6798
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   item    6799 non-null   int64
 1   year    6799 non-null   int64
dtypes: int64(2)
memory usage: 106.4 KB
None
*****************************************************************
    item  year
0   1348  1922
1  44587  1922
2   4768  1922
3   8235  1923
4   8609  1923

In [8]:
print("unique한 item 개수: ", year['item'].nunique())
print("unique한 year 개수: ", year['year'].nunique())
print("max year: ", year['year'].max())
print("min year: ", year['year'].min())
print("*******************************************************")
print(year['year'].describe())

unique한 item 개수:  6799
unique한 year 개수:  93
max year:  2014
min year:  1922
*******************************************************
count    6799.000000
mean     1992.174732
std        19.052568
min      1922.000000
25%      1985.000000
50%      1999.000000
75%      2006.000000
max      2014.000000
Name: year, dtype: float64

### writer

In [9]:
print(writer.info())
print("*****************************************************************")
print(writer.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11306 entries, 0 to 11305
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   item    11306 non-null  int64
 1   writer  11306 non-null  object
dtypes: int64(1), object(1)
memory usage: 176.8+ KB
None
*****************************************************************
   item     writer
0  1237  nm0000005
1  5147  nm0000005
2  7327  nm0000005
3  2068  nm0000005
4  7396  nm0000005

In [10]:
print("unique한 item 개수: ", writer['item'].nunique())
print("unique한 writer 개수: ", writer['writer'].nunique())

unique한 item 개수:  5648
unique한 writer 개수:  2989

### title

In [11]:
print(title.info())
print("*****************************************************************")
print(title.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6807 entries, 0 to 6806
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   item    6807 non-null   int64
 1   title   6807 non-null   object
dtypes: int64(1), object(1)
memory usage: 106.5+ KB
None
*****************************************************************
   item                             title
0   318  Shawshank Redemption, The (1994)
1  2571                Matrix, The (1999)
2  2959                 Fight Club (1999)
3   296               Pulp Fiction (1994)
4   356               Forrest Gump (1994)

In [12]:
print("unique한 item 개수: ", title['item'].nunique())
print("unique한 title 개수: ", title['title'].nunique())

unique한 item 개수:  6807
unique한 title 개수:  6806

### genre

In [13]:
print(genre.info())
print("*****************************************************************")
print(genre.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15933 entries, 0 to 15932
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   item    15933 non-null  int64
 1   genre   15933 non-null  object
dtypes: int64(1), object(1)
memory usage: 249.1+ KB
None
*****************************************************************
   item     genre
0   318     Crime
1   318     Drama
2  2571    Action
3  2571    Sci-Fi
4  2571  Thriller

In [14]:
print("unique한 item 개수: ", genre['item'].nunique())
print("unique한 genre 개수: ", genre['genre'].nunique())
print(genre['genre'].unique())

unique한 item 개수:  6807
unique한 genre 개수:  18
['Crime' 'Drama' 'Action' 'Sci-Fi' 'Thriller' 'Comedy' 'Romance' 'War'
 'Adventure' 'Fantasy' 'Horror' 'Mystery' 'Animation' 'Children'
 'Film-Noir' 'Musical' 'Western' 'Documentary']

### director

In [15]:
print(director.info())
print("*****************************************************************")
print(director.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5905 entries, 0 to 5904
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   item      5905 non-null   int64
 1   director  5905 non-null   object
dtypes: int64(1), object(1)
memory usage: 92.4+ KB
None
*****************************************************************
   item   director
0  1237  nm0000005
1  5147  nm0000005
2  7327  nm0000005
3  2068  nm0000005
4  7396  nm0000005

In [16]:
print("unique한 item 개수: ", director['item'].nunique())
print("unique한 director 개수: ", director['director'].nunique())

unique한 item 개수:  5503
unique한 director 개수:  1340

### Ml_item2attribute

In [17]:
print(Ml_item2attribute.info())
print("*****************************************************************")
print(Ml_item2attribute.head())

<class 'pandas.core.frame.DataFrame'>
Index: 6807 entries, 1 to 119145
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       6807 non-null   int64
 1   1       5051 non-null   float64
 2   2       2771 non-null   float64
 3   3       985 non-null    float64
 4   4       259 non-null    float64
 5   5       47 non-null     float64
 6   6       9 non-null      float64
 7   7       2 non-null      float64
 8   8       1 non-null      float64
 9   9       1 non-null      float64
dtypes: float64(9), int64(1)
memory usage: 585.0+ KB
None
*****************************************************************
   0     1     2    3    4   5   6   7   8   9
1  8  12.0  13.0  5.0  9.0 NaN NaN NaN NaN NaN
2  8  13.0   9.0  NaN  NaN NaN NaN NaN NaN NaN
3  5   6.0   NaN  NaN  NaN NaN NaN NaN NaN NaN
4  5   1.0   6.0  NaN  NaN NaN NaN NaN NaN NaN
5  5   NaN   NaN  NaN  NaN NaN NaN NaN NaN NaN

In [18]:
df1 = pd.merge(train_rating, title, on='item', how='left')
df2 = pd.merge(df1, year, on='item', how='left')
df3 = pd.merge(df2, genre, on='item', how='left')
df4 = pd.merge(df3, director, on='item', how='left')
df = pd.merge(df4, writer, on='item', how='left')

In [19]:
df.isnull().sum()

user              0
item              0
time              0
title             0
year           6920
genre             0
director    1184231
writer       695889
dtype: int64

In [20]:
print(df.info())
print("************************************")
print(df.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48264331 entries, 0 to 48264330
Data columns (total 8 columns):
 #   Column    Dtype
---  ------    -----
 0   user      int64
 1   item      int64
 2   time      int64
 3   title     object
 4   year      float64
 5   genre     object
 6   director  object
 7   writer    object
dtypes: float64(1), int64(3), object(4)
memory usage: 2.9+ GB
None
************************************
   user  item        time                      title    year      genre  \
0    11  4643  1230782529  Planet of the Apes (2001)  2001.0     Action
1    11  4643  1230782529  Planet of the Apes (2001)  2001.0     Action
2    11  4643  1230782529  Planet of the Apes (2001)  2001.0     Action
3    11  4643  1230782529  Planet of the Apes (2001)  2001.0     Action
4    11  4643  1230782529  Planet of the Apes (2001)  2001.0  Adventure

    director     writer
0  nm0000318  nm0099541
1  nm0000318  nm0115310
2  nm0000318  nm0465199
3  nm0000318  nm0742797
4  nm0000318  nm0099541

In [21]:
print("unique한 director: ", df['director'].nunique())
print("unique한 writer: ", df['writer'].nunique())
print("unique한 title: ", df['title'].nunique())
print("unique한 year: ", df['year'].nunique())
print("unique한 year 출력: ", np.sort(df['year'].unique()))
print("unique한 genre: ", df['genre'].nunique())
print("unique한 genre 출력: ", df['genre'].unique())

unique한 director:  1340
unique한 writer:  2989
unique한 title:  6806
unique한 year:  93
unique한 year 출력:  [1922. 1923. 1924. 1925. 1926. 1927. 1928. 1929. 1930. 1931. 1932. 1933.
 1934. 1935. 1936. 1937. 1938. 1939. 1940. 1941. 1942. 1943. 1944. 1945.
 1946. 1947. 1948. 1949. 1950. 1951. 1952. 1953. 1954. 1955. 1956. 1957.
 1958. 1959. 1960. 1961. 1962. 1963. 1964. 1965. 1966. 1967. 1968. 1969.
 1970. 1971. 1972. 1973. 1974. 1975. 1976. 1977. 1978. 1979. 1980. 1981.
 1982. 1983. 1984. 1985. 1986. 1987. 1988. 1989. 1990. 1991. 1992. 1993.
 1994. 1995. 1996. 1997. 1998. 1999. 2000. 2001. 2002. 2003. 2004. 2005.
 2006. 2007. 2008. 2009. 2010. 2011. 2012. 2013. 2014.   nan]
unique한 genre:  18
unique한 genre 출력:  ['Action' 'Adventure' 'Drama' 'Sci-Fi' 'Crime' 'Thriller' 'Children'
 'Animation' 'Fantasy' 'Horror' 'Mystery' 'Comedy' 'Romance' 'War'
 'Musical' 'Documentary' 'Western' 'Film-Noir']

In [22]:
df_filtered = df.dropna(subset=['year'])
df_filtered['title_year'] = df_filtered['title'].str.extract(r'\((\d{4})\)').astype(float)
df_filtered['year_match'] = df_filtered['title_year'] == df_filtered['year']
df_filtered['year_sub'] = df_filtered['title_year'] - df_filtered['year']

false_data = df_filtered[df_filtered['year_match'] == False]
print(df_filtered['year_match'].value_counts())
print(false_data[['year_match', 'year_sub', 'title', 'year']])

/tmp/ipykernel_173677/462003305.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered['title_year'] = df_filtered['title'].str.extract(r'\((\d{4})\)').astype(float)
/tmp/ipykernel_173677/462003305.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered['year_match'] = df_filtered['title_year'] == df_filtered['year']
/tmp/ipykernel_173677/462003305.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered['year_sub'] = df_filtered['title_year'] - df_filtered['year']

year_match
True     48257206
False         205
Name: count, dtype: int64
          year_match  year_sub                         title    year
197743         False       NaN  Big Bang Theory, The (2007-)  2007.0
262551         False       NaN  Big Bang Theory, The (2007-)  2007.0
291995         False       NaN     Fawlty Towers (1975-1979)  1975.0
309429         False       NaN     Fawlty Towers (1975-1979)  1975.0
573526         False       NaN  Big Bang Theory, The (2007-)  2007.0
...              ...       ...                           ...     ...
47647124       False       NaN     Fawlty Towers (1975-1979)  1975.0
47820962       False       NaN     Fawlty Towers (1975-1979)  1975.0
47850540       False       NaN  Big Bang Theory, The (2007-)  2007.0
48112834       False       NaN     Fawlty Towers (1975-1979)  1975.0
48136497       False       NaN     Fawlty Towers (1975-1979)  1975.0

[205 rows x 4 columns]

In [23]:
df_filtered = df.dropna(subset=['year'])
df_filtered['title_year'] = df_filtered['title'].str.extract(r'\((\d{4})[-\d]*\)').astype(float)
df_filtered['year_match'] = df_filtered['title_year'] == df_filtered['year']
print(df_filtered['year_match'].value_counts())

/tmp/ipykernel_173677/3669185918.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered['title_year'] = df_filtered['title'].str.extract(r'\((\d{4})[-\d]*\)').astype(float)
/tmp/ipykernel_173677/3669185918.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered['year_match'] = df_filtered['title_year'] == df_filtered['year']

year_match
True    48257411
Name: count, dtype: int64

In [24]:
df_filtered['year_sub'] = df_filtered['title_year'] - df_filtered['year']
print(df_filtered['year_sub'].value_counts())

year_sub
0.0    48257411
Name: count, dtype: int64

/tmp/ipykernel_173677/2580316501.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered['year_sub'] = df_filtered['title_year'] - df_filtered['year']

In [26]:
df_filtered['has_year_pattern'] = df_filtered['title'].str.contains(r'\(\d{4}\)', regex=True) | \
                                  df_filtered['title'].str.contains(r'\(\d{4}-\d{4}\)', regex=True) | \
                                  df_filtered['title'].str.contains(r'\(\d{4}-\)', regex=True)
                                  
print(df_filtered['has_year_pattern'].value_counts())

has_year_pattern
True    48257411
Name: count, dtype: int64

/tmp/ipykernel_173677/2612427621.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered['has_year_pattern'] = df_filtered['title'].str.contains(r'\(\d{4}\)', regex=True) | \